* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #97e8f5;
  color: #222;
  font-family: helvetica;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  line-height: 16px;
}

.md {
  height: 100%;
  padding: 35px 50px;
}

.md-inner {
  height: 100%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.md-btn {
  text-align: right;
}

.md-editor {
  padding: 25px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 50%;
  background: #fff;
  overflow-y: scroll;
}

.md-preview {
  padding: 25px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 50%;
  background: #f2f2f2;
  overflow-y: scroll;
}

.md-subject {
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 15px;
}

.md-content {
  font-size: 16px;
  line-height: 20px;
  padding: 25px;
  background: #fff;
}

.md-content img {
  display: block;
  width: 35%;
  margin: 0 auto;
}

.md-content h1 {
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 5px;
  color: #666;
}

.form-control {
  color: #222;
  font-size: 14px;
  line-height: 17px;
  height: 32px;
  background: #fafafa;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.01);
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  padding: 8px;
  width: 100%;
  display: block;
}

.form-control:focus {
  outline-style: dotted;
  outline-width: 1px;
  outline-offset: 1px;
}

.form-control:active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.08);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.08);
}

textarea.form-control {
  height: 250px;
}

.btn {
  border: none;
  border-radius: 2px;
  padding: 8px 16px;
  display: inline-block;
  position: relative;
  text-shadow: none;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-transform: uppercase;
}

.btn:focus {
  outline-style: dotted;
  outline-width: 1px;
  outline-offset: 1px;
}

.btn:active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.08);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-success {
  background: #6bbd2e;
  color: #fff;
  -webkit-box-shadow: 0 1px #549424;
          box-shadow: 0 1px #549424;
}

.form-list {
  padding: 0;
}

.form-list li {
  padding: 2px 8px;
  border-radius: 2px;
  color: #fff;
  background: #3498dc;
  display: inline-block;
  margin-right: 5px;
}

